<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
</head>

<body th:fragment="dropdown">
<form action="#" th:action="@{/search}" th:method="get">
    <div class="inner-form">
        <div class="basic-search">
            <div class="input-field">
                <div class="icon-wrap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                        <path d="M18.869 19.162l-5.943-6.484c1.339-1.401 2.075-3.233 2.075-5.178 0-2.003-0.78-3.887-2.197-5.303s-3.3-2.197-5.303-2.197-3.887 0.78-5.303 2.197-2.197 3.3-2.197 5.303 0.78 3.887 2.197 5.303 3.3 2.197 5.303 2.197c1.726 0 3.362-0.579 4.688-1.645l5.943 6.483c0.099 0.108 0.233 0.162 0.369 0.162 0.121 0 0.242-0.043 0.338-0.131 0.204-0.187 0.217-0.503 0.031-0.706zM1 7.5c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5-2.916 6.5-6.5 6.5-6.5-2.916-6.5-6.5z"></path>
                    </svg>
                </div>
                <input data-trigger="" name="nameText" id="search" type="text" placeholder="Search for a character!"/>
                <div class="result-count">
                    <span th:text="${#lists.size(characters)}"></span> results
                </div>
            </div>
            <div class="advance-search">
                <span class="desc">Advanced Search</span>
                <div class="row">
                    <div class="input-field">
                        <div class="input-select">
                            <select data-trigger="" name="raceId">
                                <option value="0">RACE</option>
                                <option th:each="race : ${races}" th:value="${race.id}" th:text="${race.race}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <select data-trigger="" name="classId">
                                <option value="0">CLASS</option>
                                <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.className}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <select data-trigger="" name="characterName">
                                <option value="0">NAME</option>
                                <option th:each="character : ${characters}" th:value="${character.characterId}" th:text="${character.characterName}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row second">
                    <div class="input-field">
                        <div class="input-select">
                            <select data-trigger="" name="spellId">
                                <option value="0">SPELLS</option>
                                <option th:each="spell : ${spells}" th:value="${spell.id}" th:text="${spell.spellName}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row third">
                    <div class="input-field">
                        <button class="btn-search">Search</button>
                        <button class="btn-delete" id="delete">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="js/extention/choices.js"></script>
<script>
    const customSelects = document.querySelectorAll("select");
    const deleteBtn = document.getElementById('delete')
    const choices = new Choices('select', {
        searchEnabled: true,
        removeItemButton: true,
        itemSelectText: '',
    });
    for (let i = 0; i < customSelects.length; i++) {
        customSelects[i].addEventListener('addItem', function(event) {
            if (event.detail.value) {
                let parent = this.parentNode.parentNode
                parent.classList.add('valid')
                parent.classList.remove('invalid')
            }
            else {
                let parent = this.parentNode.parentNode
                parent.classList.add('invalid')
                parent.classList.remove('valid')
            }
        }, false);
    }
    deleteBtn.addEventListener("click", function(e) {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++) {
            deleteAll[i].click();
        }
    });
</script>
</body>

<body th:fragment="results">
<form action="#" th:action="@{/search/edit}" th:method="GET">
    <div class="inner-form">
        <div class="basic-search">
            <div class="advance-search">
                <div class="input-field">
                    <div class="icon-wrap">
                        <i class="fas fa-dice-d20"></i>
                    </div>
                    <div class="result-count">
                        <span th:text="${#lists.size(characters)}"></span> results
                    </div>
                </div>
                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Race</th>
                                <th>Class</th>
                                <th>Picture</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="character : ${characters}">
                                <td><input type="radio" name="characterId" th:value="${character.characterId}"/> </td>
                                <td th:text="${character.characterName}"></td>
                                <td th:each="race : ${races}" th:if="${character.race == race.id}" th:text="${race.race}"></td>
                                <td th:each="class : ${classes}" th:if="${character.characterClass == class.id}" th:text="${class.className}"></td>
                                <td> <img th:if="${character.pictureUrl != null}" th:src="${character.pictureUrl}" width="100" height="100"> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row second">
                    <table>
                        <thead>
                        <tr>
                            <th>Spell Name</th>
                            <th>Spell Level</th>
                            <th>Spell Range</th>
                            <th>School Of Magic</th>
                            <th>Animation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="spell : ${spells}">
                            <td th:text="${spell.spellName}"></td>
                            <td th:text="${spell.spellLevel}"></td>
                            <td th:text="${spell.spellRange}"></td>
                            <td th:text="${spell.schoolOfMagic}"></td>
                            <td><img th:if="${spell.pictureUrl != null}" th:src="${spell.pictureUrl}" width="100" height="150"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row third">
                    <div class="input-field">
                        <button class="btn-search" name="action" value="back">Back</button>
                        <button class="btn-search" name="action" value="add">Add</button>
                    </div>
                </div>
                <div class="row third">
                    <div class="input-field">
                        <button class="btn-search" name="action" value="edit">Edit Selected</button>
                        <button class="btn-search" name="action" value="delete">Delete Selected</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
<script src="js/extention/choices.js"></script>
<script>
    const customSelects = document.querySelectorAll("select");
    const deleteBtn = document.getElementById('delete')
    const choices = new Choices('select', {
        searchEnabled: true,
        removeItemButton: true,
        itemSelectText: '',
    });
    for (let i = 0; i < customSelects.length; i++) {
        customSelects[i].addEventListener('addItem', function(event) {
            if (event.detail.value) {
                let parent = this.parentNode.parentNode
                parent.classList.add('valid')
                parent.classList.remove('invalid')
            }
            else {
                let parent = this.parentNode.parentNode
                parent.classList.add('invalid')
                parent.classList.remove('valid')
            }
        }, false);
    }
    deleteBtn.addEventListener("click", function(e) {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++) {
            deleteAll[i].click();
        }
    });
</script>
</html>