<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="application/json; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
</head>

<body th:fragment="addForm">
<form action="#" th:action="@{/search/add}" th:object="${addCharacter}" th:method="post">
    <div class="inner-form">
        <div class="basic-search">
            <div class="input-field">
                <label>Name: </label>
                <input data-trigger="" name="nameText" type="text" th:field="*{characterName}" placeholder="Enter character name..."/>
            </div>
            <div class="input-field">
                <label>Background: </label>
                <input data-trigger="" name="background" type="text" th:field="*{background}" placeholder="Enter background..."/>
            </div>
            <div class="input-field">
                <label>Description: </label>
                <input data-trigger="" name="description" type="text" th:field="*{characterDescription}" placeholder="Enter character description..."/>
            </div>
            <div class="input-field">
                <label>Picture URL: </label>
                <input data-trigger="" name="description" type="text" th:field="*{pictureUrl}"/>
            </div>
            <div class="advance-search">
                <span class="desc">Add Character</span>
                <div class="row">
                    <div class="input-field">
                        <div class="input-select">
                            <label>Race: </label>
                            <select data-trigger="" name="raceId" th:field="*{race}">
                                <option value="0">RACE</option>
                                <option th:each="race : ${races}" th:value="${race.id}" th:text="${race.race}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Class: </label>
                            <select data-trigger="" name="classId" th:field="*{characterClass}">
                                <option value="0">CLASS</option>
                                <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.className}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Health: </label>
                            <select data-trigger="" name="health" th:field="*{characterHealth}">
                                <option value="0">HEALTH</option>
                                <option th:each="i : ${#numbers.sequence(1,100)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row second">
                    <div class="input-field">
                        <div class="input-select">
                            <label>Dexterity: </label>
                            <select data-trigger="" name="dexterity" th:field="*{dexterity}">
                                <option value="0">DEXTERITY</option>
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Constitution: </label>
                            <select data-trigger="" name="constitution" th:field="*{constitution}">
                                <option value="0">CONSTITUTION</option>
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Wisdom: </label>
                            <select data-trigger="" name="wisdom" th:field="*{wisdom}">
                                <option value="0">WISDOM</option>
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row third">
                    <div class="input-field">
                        <div class="input-select">
                            <label>Intelligence: </label>
                            <select data-trigger="" name="intelligence" th:field="*{intelligence}">
                                <option value="0">INTELLIGENCE</option>
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Charisma: </label>
                            <select data-trigger="" name="charisma" th:field="*{charisma}">
                                <option value="0">CHARISMA</option>
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Strength: </label>
                            <select data-trigger="" name="strength" th:field="*{strength}">
                                <option value="0">STRENGTH</option>
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <button class="btn-search">Add</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>

<body th:fragment="editForm">
<form action="#" th:action="@{/search/edit}" th:object="${editCharacter}" th:method="put">
    <div class="inner-form">
        <div class="basic-search">
            <div th:hidden="true">
                <input name="characterId" type="text" th:field="*{characterId}"/>
            </div>
            <div class="input-field">
                <label>Name: </label>
                <input data-trigger="" name="nameText" type="text" th:field="*{characterName}"/>
            </div>
            <div class="input-field">
                <label>Background: </label>
                <input data-trigger="" name="background" type="text" th:field="*{background}"/>
            </div>
            <div class="input-field">
                <label>Description: </label>
                <input data-trigger="" name="description" type="text" th:field="*{characterDescription}"/>
            </div>
            <div class="input-field">
                <label>Picture URL: </label>
                <input data-trigger="" name="description" type="text" th:field="*{pictureUrl}"/>
            </div>
            <div class="advance-search">
                <span class="desc">Edit Character</span>
                <div class="row">
                    <div class="input-field">
                        <div class="input-select">
                            <label>Race: </label>
                            <select data-trigger="" name="raceId" th:field="*{race}">
                                <option th:each="race : ${races}" th:value="${race.id}" th:text="${race.race}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Class: </label>
                            <select data-trigger="" name="classId" th:field="*{characterClass}">
                                <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.className}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Health: </label>
                            <select data-trigger="" name="health" th:field="*{characterHealth}">
                                <option th:each="i : ${#numbers.sequence(1,100)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row second">
                    <div class="input-field">
                        <div class="input-select">
                            <label>Dexterity: </label>
                            <select data-trigger="" name="dexterity" th:field="*{dexterity}">
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Constitution: </label>
                            <select data-trigger="" name="constitution" th:field="*{constitution}">
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Wisdom: </label>
                            <select data-trigger="" name="wisdom" th:field="*{wisdom}">
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row third">
                    <div class="input-field">
                        <div class="input-select">
                            <label>Intelligence: </label>
                            <select data-trigger="" name="intelligence" th:field="*{intelligence}">
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Charisma: </label>
                            <select data-trigger="" name="charisma" th:field="*{charisma}">
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <label>Strength: </label>
                            <select data-trigger="" name="strength" th:field="*{strength}">
                                <option th:each="i : ${#numbers.sequence(1,20)}" th:value="${i}" th:text="${i}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="input-field">
                    <div class="input-select">
                        <label>Level in Class: </label>
                        <select data-trigger="" name="level" th:field="*{characterClassLevel}">
                            <option th:each="i : ${#numbers.sequence(1,1)}" th:value="${i}" th:text="${i}"></option>
                        </select>
                    </div>
                </div>
                <div class="input-field">
                    <button class="btn-search">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>